@model MvcAuth.Models.tb_Categoria

@{
    ViewBag.Title = "DeleteEspecialidad";
}



<aside class="menu-sidebar d-none d-lg-block">

    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class=""></i>
                    </a>
                </li>
                <li>
                    <a href="chart.html">
                        <i class=""></i>
                    </a>
                </li>
                <li class="active">
                    <a href="@Url.Action("Index", "Home")">
                        <i class="flaticon-005-telephone-2"></i>Doctor
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ListarCliente", "Admin")">
                        <i class="flaticon-012-mouse"></i>Cliente
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("listaEspecialidad", "Admin")">
                        <i class="flaticon-012-mouse"></i>Especialidad
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("listarOrden", "Admin")">
                        <i class="flaticon-014-online-question"></i>Ordenes
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("listarEnvio", "Admin")">
                        <i class="flaticon-016-send-1"></i>Envios
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>


<div class="page-container">

    <div class="main-content" style="margin-top:-95px;">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">

                        <h3 class="title-5 m-b-35" style="background-color:white; height:50px; padding-top:12px; padding-left:35px;">Eliminar Especialidad</h3>
                        <div class="table-data__tool" style="background-color:white; height:70px; padding-top:12px; padding-left:35px;">
                            <div class="table-data__tool-left">

                                <button class="au-btn-filter">
                                    <h3>¿Esta seguro que desea eliminar la especialidad   @Html.DisplayFor(model => model.nomCtegoria)?</h3>
                                </button>
                            </div>
                        </div>
                        <div class="table-responsive table-responsive-data2">

                            <dl class="dl-horizontal" style="background-color:white; padding:50px;">
                                <dt style="width:400px; padding-right:80px;">
                                    ID
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.idCategoria)
                                </dd>

                                <dt style="width:400px; padding-right:80px;">
                                    ESPECIALIDAD
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.nomCtegoria)
                                </dd>


                            </dl>
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()


                                <input type="submit" value="Eliminar" class="btn btn-default" style="width:100%;   background-color:rgba(97,157,177,0.83); color: white" />

                            }


                            <div class="row m-t-100">
                                <button class="btn btn-default" style="background-color:white; margin-left:15px;">
                                    <a href="@Url.Action("Index", "Home", new {  })">
                                        REGRESAR
                                    </a>
                                </button>



                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>























